.h-about {
  padding: 0.24rem 0.586667rem;
}

.h-about > img {
  width: 100%;
}

.h-about .item {
  margin-bottom: 0.133333rem;
}

.h-about .title {
  margin: 0.266667rem 0 0.36rem;
}

.h-about .title h2 {
  color: #3d4245;
  font-size: 0.4rem;
  text-align: center;
}

.h-about .title em {
  display: block;
  width: 1.16rem;
  height: 0.08rem;
  background-color: #009ff0;
  margin: 0.293333rem auto 0;
}

.h-about .body {
  font-size: 0.4rem;
  color: #787e8a;
  line-height: 0.586667rem;
}