.h-content .header,
.h-content .invest-info,
.h-content .invest-tag,
.h-content .investor {
  background-color: #fff;
  margin-bottom: 0.266667rem;
}

.h-content .header .title,
.h-content .invest-info,
.h-content .invest-tag,
.h-content .investor {
  padding: 0 1.146667rem;
}

.h-banner {
  position: relative;
  width: 100%;
  height: 6.24rem;
}

.h-banner img {
  width: 100%;
  height: 100%;
}

.h-banner .progress {
  position: absolute;
  right: 0.893333rem;
  bottom: 0.333333rem;
  width: 2.44rem;
  height: 2.44rem;
  background-color: #424242;
  border-radius: 50%;
}

.h-banner .progress-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.906667rem;
  height: 1.906667rem;
  line-height: 1.906667rem;
  text-align: center;
  font-size: 0.426667rem;
  color: #fcc00f;
  border: 0.066667rem solid #fcc000;
  /*no*/
  border-radius: 50%;
  box-shadow: inset 0 0 0.2rem #fcc000, 0 0 0.2rem #fcc000;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.h-banner .progress-circle::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: '';
  width: 0.226667rem;
  height: 0.226667rem;
  background-color: #fcc000;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 0.2rem #fcc000;
}

.h-content {
  padding-bottom: 1.6rem;
}

.h-content .header .tag {
  position: relative;
  width: 100%;
  height: 0.8rem;
  color: #fff;
  text-align: center;
}

.h-content .header .tag::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 8.213333rem;
  height: .08rem;
  background-color: #00b7ee;
  border-radius: 0.106667rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.h-content .header .tag span {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2.053333rem;
  height: 0.773333rem;
  line-height: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.h-content .header .tag span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00b7ee;
  z-index: -1;
  border-radius: 0.053333rem 0.053333rem 0 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: perspective(0.5em) rotateX(5deg);
          transform: perspective(0.5em) rotateX(5deg);
}

.h-content .header .title h2 {
  margin-top: 0.373333rem;
  font-size: 0.48rem;
  color: #3d4245;
}

.h-content .header .title p {
  padding: 0.32rem 0;
  font-size: 0.4rem;
  color: #7c7c7c;
}

.h-content .header .info {
  border-top: 1px solid #eaeaea;
  padding: 0 0.24rem;
  overflow: hidden;
}

.h-content .header .info li {
  float: left;
  height: 1.893333rem;
  border-left: 1px solid #eaeaea;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.h-content .header .info li h2 {
  font-size: 0.48rem;
  color: #7c7c7c;
}

.h-content .header .info li p {
  font-size: 0.32rem;
  color: #939192;
}

.h-content .header .info li:first-child {
  border: none;
  /*no*/
}

.h-content .header .info li:nth-of-type(1),
.h-content .header .info li:nth-of-type(3) {
  width: 30%;
}

.h-content .header .info li:nth-of-type(2) {
  width: 40%;
}

.h-content .invest-info {
  font-size: 0.4rem;
  overflow: hidden;
}

.h-content .invest-info > p {
  color: #7c7c7c;
  margin-top: 0.16rem;
  line-height: 0.573333rem;
}

.h-content .invest-info > div {
  width: 50%;
  float: left;
  color: #a5a5a5;
  padding: 0.266667rem 0;
}

.h-content .invest-tag {
  height: 1.626667rem;
  font-size: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h-content .invest-tag li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-content .invest-tag li span {
  display: inline-block;
  padding: 0.133333rem 0.2rem;
  border: 1px solid currentColor;
  border-radius: 0.106667rem;
}

.h-content .invest-tag li.zhijia {
  color: #00b7ee;
}

.h-content .invest-tag li.zhangang {
  color: #5f52a0;
}

.h-content .invest-tag li.zhuanrang {
  color: #3e85ff;
}

.h-content .investor {
  height: 4.266667rem;
}

.h-content .investor h2.title {
  font-size: 0.4rem;
  color: #7c7c7c;
  height: 1.333333rem;
  padding-top: 0.373333rem;
}

.h-content .investor ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h-content .investor ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h-content .investor .avatar {
  position: relative;
  width: 1.706667rem;
  height: 1.706667rem;
}

.h-content .investor .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.h-content .investor .avatar em {
  position: absolute;
  right: 0.106667rem;
  width: 0.413333rem;
  height: 0.413333rem;
  line-height: 0.413333rem;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  background-color: #5f52a0;
  border-radius: 50%;
}

.h-content .investor-type {
  display: inline-block;
  width: 1.333333rem;
  height: 0.466667rem;
  line-height: 0.466667rem;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
  margin: 0.346667rem auto;
  background-color: #88abda;
  border-radius: 0.106667rem;
  -webkit-transform: skewx(-20deg);
          transform: skewx(-20deg);
}

.h-content .investor-type.led {
  background-color: #13b5b1;
}

.h-content .project {
  background-color: #fff;
}

.h-content .project-nav {
  height: 1.333333rem;
  overflow: hidden;
}

.h-content .project-nav li {
  float: left;
  width: 25%;
  text-align: center;
  line-height: 1.333333rem;
  font-size: 0.4rem;
  color: #fff;
  background-color: #000;
}

.h-content .project-nav li.current {
  background-color: #13b5b1;
}

.h-content .project-thumb {
  height: 5.293333rem;
  margin-bottom: 0.48rem;
  overflow: hidden;
}

.h-content .project-thumb img {
  width: 100%;
  height: 100%;
}

.h-content .project-item {
  padding-bottom: 0.666667rem;
  padding-left: 0.373333rem;
  padding-right: 0.373333rem;
}

.h-content .project-item .header {
  position: relative;
  margin-bottom: 0.853333rem;
  width: 2.453333rem;
  height: 0.84rem;
  border: 2px solid #474747;
}

.h-content .project-item .header > div {
  position: absolute;
  top: 0.133333rem;
  left: 0.133333rem;
  width: 100%;
  height: 100%;
  color: #5c5c5e;
  font-weight: bold;
  text-indent: 0.053333rem;
  background-color: #fff;
}

.h-content .project-item .header h2 {
  font-size: 0.48rem;
  font-weight: bold;
  white-space: nowrap;
}

.h-content .project-item .header p {
  white-space: nowrap;
}

.h-content .project-item-des img {
  width: 100%;
}

.h-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.6rem;
  padding: 0.133333rem 0;
  color: #a5a5a5;
  background-color: #fff;
  border-top: 1px solid #ebe9e9;
}

.h-footer ul {
  overflow: hidden;
  height: 100%;
}

.h-footer ul li {
  float: left;
  height: 100%;
  text-align: center;
  line-height: 1.6rem;
  font-size: 0.48rem;
}

.h-footer ul li:first-child,
.h-footer ul li:last-child {
  width: 30%;
}

.h-footer ul li:nth-of-type(2) {
  width: 40%;
  border: 1px solid #eeeeee;
  border-top: none;
  border-bottom: none;
}

.h-footer #share {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.h-footer #share a {
  float: left;
  width: 25%;
  height: 100%;
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.586667rem;
  background: none;
  padding: 0;
  margin: 0;
}

.translate-enter-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.translate-enter,
.translate-leave-active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.h-modal-mask .qrcode {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
}