.h-order {
  margin-top: 0.266667rem;
  background-color: #fff;
  font-size: 0.346667rem;
}

.h-order dt {
  height: 0.96rem;
  line-height: 0.96rem;
  text-indent: 0.24rem;
  font-size: 0.4rem;
  color: #626973;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.h-order dd {
  height: 0.64rem;
  line-height: 0.64rem;
}

.h-order dd > span {
  display: inline-block;
}

.h-order dd > span.field {
  width: 2.0rem;
  text-align: right;
  color: #a5a5a5;
  margin-right: 0.16rem;
}

.h-order dd > span.text {
  color: #616a73;
}

.h-order dd > span.text.youhui {
  color: #e60012;
}

.h-order dd .select {
  float: right;
  color: #00a1ef;
  margin-right: 0.728477rem;
}

.h-order dd:last-child {
  height: 0.826667rem;
  line-height: 0.826667rem;
  border-top: 1px solid #eee;
}

.h-paylist {
  margin-top: 0.4rem;
  text-indent: 0.4rem;
  background-color: #fff;
}

.h-paylist dt {
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.4rem;
  color: #616b75;
  font-weight: bold;
}

.h-paylist dd {
  height: 1.0rem;
  line-height: 1.0rem;
  color: #616a73;
  text-align: center;
  border-top: 1px solid #ededed;
}

.h-paylist dd > a {
  display: block;
}