.h-success .success-icon {
  width: 3.08rem;
  height: 3.08rem;
  margin: 0.853333rem auto;
}

.h-success .success-icon img {
  width: 100%;
  height: 100%;
}

.h-success p {
  font-size: 0.44rem;
  font-weight: bold;
  line-height: 0.666667rem;
  color: #009ff0;
  text-align: center;
}