.h-notice-list {
  padding: 0 0.32rem;
}

.h-notice-list li {
  position: relative;
  height: 1.133333rem;
  line-height: 1.133333rem;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.4rem;
  color: #787e8a;
  text-indent: 0.533333rem;
}

.h-notice-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #c3c9d5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.h-notice-list li > a {
  display: block;
}

.h-notice-list li .date {
  float: right;
}

.h-notice-desc {
  margin-top: 0.586667rem;
  padding: 0 0.586667rem;
}

.h-notice-desc .title {
  margin-bottom: 0.533333rem;
}

.h-notice-desc .title h1 {
  text-align: center;
  color: #3d4245;
  font-size: 0.4rem;
}

.h-notice-desc .title em {
  display: block;
  width: 1.16rem;
  height: 0.133333rem;
  background-color: #009ff0;
  margin: 0.533333rem auto;
}