.h-loan-info {
  margin-top: 0.266667rem;
  background-color: #fff;
}

.h-loan-info dt {
  height: 0.973333rem;
  line-height: 0.973333rem;
  font-size: 0.4rem;
  color: #616a73;
  font-weight: bold;
  padding: 0 0.32rem;
  border-bottom: 1px solid #eaeaea;
}

.h-loan-info dd {
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.346667rem;
  padding: 0 0.32rem;
}

.h-loan-info dd span {
  color: #a5a5a5;
}

.h-loan-info dd em {
  color: #616a73;
}

.h-loan-info dd select {
  border-color: #cbd0d5;
  color: #cbd0d5;
  background-color: #fff;
}

.h-zgb-buy .banner {
  height: 3.693333rem;
}

.h-zgb-buy .banner > img {
  left: -0.4rem;
  width: 2.666667rem;
  height: 2.666667rem;
}

.h-zgb-buy .banner .info {
  padding-left: 0;
  text-align: center;
}

.h-zgb-buy .banner .info h1 {
  font-size: 1.066667rem;
}

.h-zgb-buy .banner .info h2 {
  font-size: 0.44rem;
  color: #f0eff5;
}

.h-zgb-buy .buy {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.h-zgb-buy .buy * {
  display: block;
}

.h-underline-payment {
  padding: 0 0.693333rem;
  background-color: #f0eff5;
}

.h-underline-payment dt {
  text-align: center;
  color: #3e85ff;
  font-size: 0.466667rem;
  margin: 0.48rem 0;
}

.h-underline-payment dd {
  font-size: 0.4rem;
  color: #616a73;
  margin-bottom: 0.666667rem;
}

.h-underline-payment dd.notice {
  color: #e60012;
}

.h-underline-payment .qrcode {
  text-align: center;
  font-size: 0.4rem;
  color: #616a73;
}

.h-underline-payment .qrcode img {
  width: 2.72rem;
  height: 2.72rem;
}