.h-agreement {
  width: 100%;
  padding: 0.533333rem;
  background-color: #fff;
}

.h-agreement p {
  font-size: 0.426667rem;
  color: #000;
  line-height: 1.8;
  margin: 0.266667rem 0;
  text-indent: 0.8rem;
}

.h-agreement h2 {
  font-weight: bold;
  font-size: 0.56rem;
  line-height: 2.4;
}

.h-agreement span {
  display: block;
  font-size: 0.32rem;
  line-height: 1.6;
}