.h-banner {
  position: relative;
  width: 100%;
  height: 17.8rem;
  background-image: -webkit-linear-gradient(325deg, #6c328b, #1698ff);
  background-image: linear-gradient(125deg, #6c328b, #1698ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-banner .wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/h-zgb-banner-bg3.png);
  opacity: .1;
}

.h-banner .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/h-zgb-banner-bg.png);
  background-position: center center;
  background-size: 100% 100%;
}

.h-banner .logo {
  margin-top: 2.133333rem;
}

.h-banner .logo h1 {
  font-size: 1.333333rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.h-banner .logo .line {
  width: 2.706667rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 0.213333rem;
}

.h-banner .logo h3 {
  font-size: 0.266667rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  opacity: .5;
}

.h-banner .intro {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.h-banner .intro li {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.28rem;
  font-weight: bold;
  opacity: .5;
  -webkit-transform-origin: 0 center;
          transform-origin: 0 center;
}

.h-banner .intro li:nth-of-type(1) {
  left: 0.32rem;
  top: 4.786667rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.h-banner .intro li:nth-of-type(2) {
  left: 0.666667rem;
  top: 5.6rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.h-banner .intro li:nth-of-type(3) {
  right: 0.586667rem;
  top: 1.44rem;
  -webkit-transform: translateX(100%) rotate(90deg);
          transform: translateX(100%) rotate(90deg);
}

.h-banner .intro li:nth-of-type(4) {
  right: 0.293333rem;
  top: 0.373333rem;
  -webkit-transform: translateX(100%) rotate(90deg);
          transform: translateX(100%) rotate(90deg);
}

.h-banner .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.h-banner .content .info {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.h-banner .content .info h3 {
  font-size: 0.48rem;
}

.h-banner .content .info h1 {
  font-size: 1.6rem;
}

.h-banner .content .info h1 span {
  font-size: 0.4rem;
}

.h-banner .button {
  position: absolute;
  left: 50%;
  bottom: 2.266667rem;
  width: 4.08rem;
  height: 1.373333rem;
  line-height: 1.373333rem;
  text-align: center;
  color: #fff;
  font-size: 0.493333rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.16rem;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.h-banner .button::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  width: 3.866667rem;
  height: 1.173333rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.16rem;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.h-zhangangbao {
  padding: 0.906667rem 1.68rem;
  text-align: center;
  color: #616a73;
  font-size: 0.48rem;
  background-color: #fff;
  overflow: hidden;
}

.h-zhangangbao .item {
  padding-bottom: 0.64rem;
  margin-bottom: 0.666667rem;
  border-bottom: 1px solid #ced2d7;
}

.h-zhangangbao .item:last-child {
  border-bottom-color: transparent;
}

.h-zhangangbao .item .title {
  margin-bottom: 0.4rem;
}

.h-zhangangbao .item .logo {
  margin-bottom: 0.48rem;
}

.h-zhangangbao .item .logo .line {
  display: block;
  width: 0.533333rem;
  height: 2px;
  background-color: #3330bf;
  margin: 0 auto 0.506667rem;
}

.h-zhangangbao .item .logo h1 {
  color: #000;
  font-size: 0.933333rem;
}

.h-zhangangbao .item .logo h1 span {
  font-size: 0.4rem;
  color: #616a73;
}

.h-zhangangbao .item .logo img {
  width: 1.253333rem;
  height: 94%;
}

.h-zhangangbao .item p {
  line-height: 0.653333rem;
}

.h-zhangangbao .login-btn {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 0.48rem;
  color: #3e85ff;
}