.project-intro {
  background-color: #fff;
  margin: 0.266667rem 0;
  padding: 0.266667rem 0.293333rem 0.266667rem 0.4rem;
  overflow: hidden;
}

.project-intro .project-img {
  float: left;
  width: 1.306667rem;
}

.project-intro .project-img img {
  width: 1.053333rem;
  height: 1.053333rem;
  border-radius: 50%;
}

.project-intro .right-fix {
  width: 100%;
  float: right;
  margin-left: -1.306667rem;
}

.project-intro .project-info {
  margin-left: 1.306667rem;
}

.project-intro .project-info .project-name {
  font-size: 0.2rem;
  color: #282828;
  margin-bottom: 0.32rem;
}

.project-intro .project-info p {
  font-size: 0.16rem;
  color: #767676;
  line-height: 0.226667rem;
}

.invest-options {
  padding: 0.56rem 1.133333rem 0.293333rem;
  background-color: #fff;
}

.invest-options .invest-count {
  height: 1.306667rem;
  border: 0.026667rem solid #009ff0;
  color: #616a73;
  border-radius: 0.106667rem;
  box-shadow: 0 0.06667rem 0.06667rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.invest-options .invest-count > div {
  float: left;
  height: 100%;
  line-height: 1.306667rem;
}

.invest-options .invest-count .txt {
  font-size: 0.2rem;
  margin-right: 1.066667rem;
  text-indent: 0.266667rem;
}

.invest-options .invest-count .btn {
  padding-top: 0.266667rem;
  overflow: hidden;
}

.invest-options .invest-count .btn > span {
  float: left;
  height: 0.72rem;
  line-height: 0.72rem;
}

.invest-options .invest-count .btn .sub,
.invest-options .invest-count .btn .plus {
  width: 0.72rem;
  text-align: center;
  color: #fff;
  background-color: #b2b9bf;
  border-radius: 0.08rem;
}

.invest-options .invest-count .btn .num {
  width: 2.733333rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.373333rem;
}

.invest-options .invest-total {
  font-size: 0.2rem;
  color: #009ff0;
  margin: 0.4rem 0;
  overflow: hidden;
}

.invest-options .invest-total .columns {
  float: left;
  width: 50%;
}

.invest-options .invest-total .columns:first-child {
  text-align: right;
}

.invest-options .pay-list {
  width: 3.4rem;
  margin: 0 auto;
}

.invest-options .pay-list li {
  font-size: 0.186667rem;
  color: #616a73;
  margin-bottom: 0.293333rem;
  white-space: nowrap;
}

.invest-options .pay-list li input[type=radio] {
  opacity: 0;
}

.invest-options .pay-list li input[type=radio] + i.icon {
  color: #BFBFBF;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.invest-options .pay-list li input[type=radio]:checked + i.icon {
  color: #009ff0;
}

.submit {
  padding: 0.4rem 0;
  font-size: 0.186667rem;
  color: #7c7c7c;
  white-space: nowrap;
  text-align: center;
}

.submit a {
  color: #009ff0;
}

.submit input[type=radio] {
  opacity: 0;
}

.submit input[type=radio] + i.icon {
  color: #BFBFBF;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.submit input[type=radio]:checked + i.icon {
  color: #009ff0;
}

.submit input[type=radio]:checked ~ .button {
  background-color: #009ff0;
}

.submit .button {
  border: none;
  display: block;
  width: 6.84rem;
  height: 0.933333rem;
  line-height: 0.933333rem;
  text-align: center;
  margin: 0.36rem auto;
  color: #fff;
  font-size: 0.2rem;
  background-color: #BFBFBF;
  border-radius: 0.106667rem;
  -webkit-transition: .2s;
  transition: .2s;
}