<!DOCTYPE html>
<html lang="ch-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="favicon.png">
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/h-desc.css">
  <title>大股东 - 项目详情</title>
</head>
<body>
<div id='desc' v-cloak>
  <!-- header -->
  <header>
   <a href="javascript:history.go(-1)" class='back'>
     <i class='icon icon-back'></i>
   </a>
   <h1>大股东</h1>
   <a href="###" class='menu'>
     <i class='icon icon-menu'></i>
   </a>
  </header>

  <!-- banner -->
  <section class="h-banner">
   <img src="images/desc01.png" alt="">
   <div class="progress">
     <div class="progress-circle">{{Math.round(project.already / project.target * 100)}}%</div>
   </div>
  </section>

  <!-- main -->
  <main>
   <section class="h-content">
     <div class='header'>
       <div class="tag" data-text=''>
          <span>融资中</span>
       </div>
       <div class="title">
         <h2>{{project.name}}</h2>
         <p>{{project.desc}}</p>
       </div>
       <ul class='info'>
         <li>
           <h2>{{Math.round(project.already / project.target * 100)}}%</h2>
           <p>已达到</p>
         </li>
         <li>
           <h2>￥{{project.already}}万</h2>
           <p>已募集</p>
         </li>
         <li>
           <h2>{{project.targetPerson}}人</h2>
           <p>目标人数</p>
         </li>
       </ul>
     </div>

     <section class="invest-info">
       <p>起投金额：￥<span>{{project.investDefault}}</span></p>
       <div><p>目标人数：<span>{{project.targetPerson}}</span>人</div>
       <div><p>已投人数：<span>{{project.alreadyPerson}}</span>人</p></div>
     </section>

      <ul class="invest-tag">
        <li class='zhijia'><span>可质押</span></li>
        <li class='zhangang'><span>可站岗</span></li>
        <li class='zhuanrang'><span>可转让</span></li>
      </ul>

      <section class="investor">
        <h2 class="title">投资人: </h2>
        <ul>
          <li v-for='item in project.investor'>
            <div class="avatar"><img :src="item.avatar" alt=""><em class='icon icon-vip'></em></div>
            <span class="investor-type led" v-if='item.led'>领投人</span>
            <span class="investor-type" v-else='item.led'>跟投人</span>
          </li>
        </ul>
      </section>

      <section class="project">
        <ul class="project-nav">
          <li class='current'>项目概况</li>
          <li>团队成员</li>
          <li>融资信息</li>
          <li>商业计划书</li>
        </ul>
        <div class="project-thumb" v-html='project.thumb'></div>

        <div class="project-item">
          <div class="header">
            <div>
              <h2>投资人</h2>
              <p>Echo Capital</p>
            </div>
          </div>
          <div class="project-item-des" v-html='project.Capital'></div>
        </div>
        <div class="project-item">
          <div class="header">
            <div>
              <h2>投资理由</h2>
              <p>Investment reason</p>
            </div>
          </div>
          <div class="project-item-des" v-html='project.reason'></div>
        </div>
        <div class="project-item">
          <div class="header">
            <div>
              <h2>公司简介</h2>
              <p>Company profile</p>
            </div>
          </div>
          <div class="project-item-des" v-html='project.profile'></div>
        </div>
        <div class="project-item">
          <div class="header">
            <div>
              <h2>产品介绍</h2>
              <p>Product introduction</p>
            </div>
          </div>
          <div class="project-item-des" v-html='project.intro'></div>
        </div>
      </section>


   </section>
  </main>

  <!-- footer -->
  <footer class='h-footer'>
    <ul>
      <li class='love' @click='like = !like' :style='{color: like?"red":""}'><i class="icon icon-love"></i></li>
      <li class='invest'><a href="./h-invest.html">我要投资</a></li>
      <li class='share-btn' @click='show=true'><i class="icon icon-share"></i></li>
    </ul>
    <!-- 分享栏 -->
    <transition name="translate" v-on:enter='wbShare'>
      <div id="share" class="share r" v-if='show' v-cloak>
        <div class="bdsharebuttonbox">
          <a href="javascript:;" title="分享到朋友圈" @click='weChatShare' class="icon icon-pengyouquan"></a>
          <a href="javascript:;" title="分享到微信好友" @click='weChatShare' class="icon icon-wechat"></a>
          <a title="分享到新浪微博" id='WBShare' class="icon icon-weibo"></a>
          <a class='close' @click='show=false'><i class="icon icon-close"></i></a>
        </div>
      </div>
    </transition>
  </footer>
  <!-- 微信分享 -->
  <transition name='fade'>
    <div class="h-modal-mask" v-if='wecharShare' @click='wecharShare=false'>
      <img src="./images/share.png" width="100%" alt="">
    </div>
  </transition>
  <!-- 浏览器分享 -->
  <transition name='fade'>
    <div class="h-modal-mask" v-if='webShare' @click='webShare=false'>
      <div class="qrcode"><canvas id='canvas'></canvas></div>
    </div>
  </transition>
</div>
<script src="//cdn.bootcss.com/vue/2.0.5/vue.min.js"></script>
<script>

  var data = {
      name: '糖果大师',
      desc: '作为糖果界的轻奢侈品牌',
      already: '628.80',
      target: '600',
      investDefault: '0',
      targetPerson: '50',
      alreadyPerson: '5',
      investor: [
        {avatar: './images/investor01.png', led: true},
        {avatar: './images/investor02.png', led: false},
        {avatar: './images/investor03.png', led: false},
        {avatar: './images/investor04.png', led: false}
      ],
      thumb: '<img src="./images/project01.jpg" alt="">',
      Capital: '<img src="./images/project03.jpg" alt="">',
      reason: '<img src="./images/project02.jpg" alt="">',
      profile: '<img src="./images/project04.jpg" alt="">',
      intro: '<img src="./images/project05.jpg" alt="">'
  }
  // 微信判断
  function isWeixin() {
    var userAgentString = window.navigator ? window.navigator.userAgent : "";
    var weixinreg = /MicroMessenger/i;
    var androidreg = /android/i;
    if (!weixinreg.test(userAgentString) ) {
        return false;
    }
    return true;
  }
  // 生成二维码
  function createQrcode() {
    var shareUrl = window.location.href
    qr.canvas({
      canvas: document.querySelector('#canvas'),
      value: shareUrl,
      size: 8,
      cb: function(width, len, px) {
          var el = document.querySelector('#canvas');
          var val = 25;
          if (width < (25*8 - 10)) {
              val = Math.floor((250 - width) / 2);
          }
          el.style.marginLeft = val + "px";
          el.style.marginTop = val + "px";
      }
    });
  }

  new Vue({
    el: '#desc',
    data: {
      show: false,
      like: false,
      isAdd: true,
      wecharShare: false,
      webShare: false,
      wbShare: '#',
      project: data
    },
    methods: {
      // 微信分享
      weChatShare: function () {
        if (isWeixin()){
          this.wecharShare = true
        } else {
          // 不是微信则添加二维码生成库
          this.webShare = true

          // 多次点击只添加一次库文件
          if (this.isAdd) {
            var script=document.createElement('script')
            script.setAttribute('type','text/javascript')
            script.setAttribute('src','./js/qrcode.v1.min.js')
            this.isAdd = false
            document.querySelector('head').appendChild(script)
            // 库文件加载完成后再调用二维码生成方法
            script.onload = function () {
              createQrcode()
            }
          } else {
            // 给个延时，当元素显示后再生产二维码
            setTimeout(function () {createQrcode()}, 40)
          }

        }

      },
      // 微博分享
      wbShare: function (el) {
        var atag = el.querySelector('#WBShare'),
            shareUrl = '',
            localUrl = window.location.href,
            shareTitle = this.project.name + ' - ' + this.project.desc,
            shareContent = shareTitle,
            sharePic = 'http://m.zczj.com/images/logo.png';
            // "http://v.t.sina.com.cn/share/share.php?url={$url}&title={$title}&content={$content}&pic={$pic}"
        shareUrl = 'http://v.t.sina.com.cn/share/share.php?url='+localUrl+'&title='+shareTitle+'&content='+shareContent+'&pic='+sharePic
        atag.setAttribute('href', shareUrl)
      }
    }
  })

 </script>
</body>
</html>