<!DOCTYPE html>
<html lang="ch-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="favicon.png">
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
  <link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/h-app.css">
  <title>大股东-首页</title>
</head>
<body>
<div id='home'>
  <!-- header -->
 <header>
   <a href="###" class='back'>
     <i class='icon icon-back'></i>
   </a>
   <h1>大股东</h1>
   <a href="###" class='menu'>
     <i class='icon icon-menu'></i>
   </a>
 </header>

  <!-- slider -->
  <section id="slider" class="swiper-container">
    <ul class="slider swiper-wrapper">
      <li class="swiper-slide"><a href="#"><img src="images/banner01.png" alt="">1</a></li>
      <li class="swiper-slide"><a href="#"><img src="images/banner02.png" alt="">2</a></li>
      <li class="swiper-slide"><a href="#"><img src="images/banner03.png" alt="">3</a></li>
    </ul>
    <div class="slider-ctl swiper-pagination"></div>
  </section>

  <!-- notice -->
  <section id='notice'>
    <a href="./h-notice.html">
      <i class="icon icon-notice"></i>
      <span>大股东全新域名公告</span>
      <em>全部 <i class="icon icon-next"></i></em>
    </a>
  </section>

  <!-- recommed -->
  <section class="h-recommed">
    <a href="#">
      <div class="h-recommed-pic">
        <img src="images/recommend.png" alt="">
      </div>
      <div class="h-recommed-info">
        <h2 class="title">站岗宝  复合年化利率高达8%</h2>
        <p>日均收益(每万元)：2.11元 超高利率让你每天坐着都有收益</p>
        <p class="p2">随存随取，资金自由灵活</p>
        <h2 class='amount'>可购余额：<span>10.00万</span></h2>
      </div>
    </a>
  </section>

  <!-- main -->
  <main id='main'>
    <section class="h-item" v-for='item in items'  v-cloak>
      <div class="h-item-title">
        <span class='tag' :class="item.tag == '融资中' ? 'tag-finance' : (item.tag == '预热中' ? 'tag-preheat' : 'tag-finished')">{{item.tag}}</span>
        <h2>{{item.title}}</h2>
        <a href="javascript:;" class='follow' v-if='!item.follow' @click='item.follow = true'>关注</a>
        <a href="javascript:;" class='followed' v-else='item.follow' >已关注</a>
      </div>
      <a href="./h-desc.html">
        <div class="h-item-body">
          <div class="item-pic"><img :src='item.img' alt=""></div>
          <div class="item-info">
            <p>{{item.desc}}</p>
            <p>{{item.desc2}}</p>
            <div class="progress" data-progress='0'>
              <i :style="{width: Math.round(item.already / item.target * 100) + 'px'}"></i>
              <span :style="{color: Math.round(item.already / item.target * 100) == 0 ? '#02c3ab':''}">{{Math.round(item.already / item.target * 100)}}%</span>
            </div>
            <ul class="footer">
              <li>目标额: <span class='target'>{{item.target}}万</span></li>
              <li>已募: <span class='already'>{{item.already}}万</span></li>
            </ul>
          </div>
        </div>
      </a>
    </section>
  </main>
</div>
  <script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.min.js"></script>
  <script src="//cdn.bootcss.com/vue/2.0.5/vue.min.js"></script>
  <script>
    window.onload = function () {
      var mySwiper = new Swiper ('.swiper-container', {
          loop: true,
          autoplay: 5000,//可选选项，自动滑动
          // 如果需要分页器
          pagination: '.swiper-pagination',
        });
    }

    var datas = [
        {
          'tag': '预热中',
          'title': '《网球少女》校园网络剧',
          'img': './images/item01.png',
          'desc': '励志轻喜校园网络剧',
          'desc2': '预计2017年3月前上映',
          'target': '300',
          'already': '315',
          'follow': true
        },{
          'tag': '融资中',
          'title': '《逆行未来》网络大电影',
          'img': './images/item01.png',
          'desc': '"奇迹重生，穿越过去改变未来"',
          'desc2': '2016年中国网络大电影',
          'target': '300',
          'already': '345',
          'follow': true
        },{
          'tag': '已完成',
          'title': '《网球少女》校园网络剧',
          'img': './images/item01.png',
          'desc': '励志轻喜校园网络剧',
          'desc2': '预计2017年3月前上映',
          'target': '600',
          'already': '315',
          'follow': false
        },{
          'tag': '预热中',
          'title': '《网球少女》校园网络剧',
          'img': './images/item01.png',
          'desc': '励志轻喜校园网络剧',
          'desc2': '预计2017年3月前上映',
          'target': '300',
          'already': '1',
          'follow': false
        }
    ];

    new Vue({
      el: '#home',
      data: {
        items: datas
      }
    });

  </script>
</body>
</html>