<!DOCTYPE html>
<html lang="ch-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="favicon.png">
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>
  <link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/h-app.css">
  <title>大股东 - 投资项目</title>
</head>
<body>
  <!-- header -->
 <header>
   <a href="javascript:history.go(-1)" class='back'>
     <i class='icon icon-back'></i>
   </a>
   <h1>投资项目</h1>
   <a href="###" class='menu'>
     <i class='icon icon-menu'></i>
   </a>
 </header>

 <!-- main -->
 <main id='list' v-cloak>
    <section class="h-item" v-for='(item, index) in items'>
      <div class="h-item-title">
        <span class='tag' :class="stateClsMap[item.State]">{{stateTxtMap[item.State]}}</span>
        <h2>{{item.ProjectName}}</h2>
        <a href="javascript:;" class='follow' v-if='!item.FollowState' @click='item.follow = true'>关注</a>
        <a href="javascript:;" class='followed' v-else='item.FollowState'>已关注</a>
      </div>
      <a href="./h-desc.html">
        <div class="h-item-body">
          <div class="item-pic"><img :src='item.SmallPic' alt=""></div>
          <div class="item-info">
            <p>{{item.TargetName}}</p>
            <p>{{item.ShortDesc}}</p>
            <div class="progress" data-progress='0'>
              <i :style="{width: Math.round(getDatas[index].current/getDatas[index].target * 100) + 'px'}"></i>
              <span :style="{color: Math.round(getDatas[index].current/getDatas[index].target * 100) == 0 ? zeroColor:''}">{{(getDatas[index].current/getDatas[index].target * 100).toFixed(2)}}%</span>
            </div>
            <ul class="footer">
              <li>目标额: <span class='target'>{{item.TargetAmount}}</span></li>
              <li>已募: <span class='already'>{{item.CurrentAmount}}</span></li>
            </ul>
          </div>
        </div>
      </a>
    </section>
    <!-- 加载动画 -->
    <transition name='fade'>
      <div class="h-modal-mask" v-show='loading'>
        <div class="loading">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </transition>
 </main>

<script src="//cdn.bootcss.com/vue/2.0.5/vue.min.js"></script>
<!-- <script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script> -->
<script src="./js/ajax.min.js"></script>
<script>
  var datas = [], loading = true;
  // 获取首屏数据
  ajax({
    "method" : "get",
    "url" : "http://devapi.zczj.com:80/api/ZhongChou/GetList?pagesize=14&state=0&currentpage=1&token=1",
    "success" : function(res){
      res = JSON.parse(res)
      loading = false
      datas = res.projectList
    },
    "Error" : function(text){
      console.log(text);
    },
    "async" : false
  })

  var ZERO_COLOR = '#02c3ab'

new Vue({
  el: '#list',
  data: {
    stateTxtMap: ['', '预热中', '筹资中', '已完成'],
    stateClsMap: ['', 'tag-preheat', 'tag-finance', 'tag-finished'],
    zeroColor: ZERO_COLOR,
    loading: loading,
    items: datas
  },
  computed: {
    // 单位换算
    getDatas: function () {
      var arr = []
      for (var i=0; i<this.items.length; i++){
        // 要放到for循环里面，不然push进arr的都是同一个对象
        var json = {}
        // 目标额
        if (this.items[i].TargetAmount.indexOf('万') != -1) {
          json['target'] = this.items[i].TargetAmount.split('万')[0] * 10000
        } else {
          json['target'] = this.items[i].TargetAmount.split('元')[0] * 1
        }
        // 已募
        if (this.items[i].CurrentAmount.indexOf('万') != -1) {
          json['current'] = this.items[i].CurrentAmount.split('万')[0] * 1 * 10000
        } else {
          json['current'] = this.items[i].CurrentAmount.split('元')[0] * 1
        }
        arr.push(json)
      }
      // console.log(arr)
      return arr
    }
  }

});
</script>
</body>
</html>