@font-face {
  font-family: 'iconfont';  /* project id："178803" */
  src: url('//at.alicdn.com/t/font_0o6a0tgqrpvw8kt9.eot');
  src: url('//at.alicdn.com/t/font_0o6a0tgqrpvw8kt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0o6a0tgqrpvw8kt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_0o6a0tgqrpvw8kt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0o6a0tgqrpvw8kt9.svg#iconfont') format('svg');
}
.icon{
  &::before{
    display: inline-block;
    font-family: 'iconfont';
    color: inherit;
  }
  // 返回
  &-back::before{
    content: '\e626';
  }
  // 菜单
  &-menu::before{
    content: '\e60b';
  }
  // 右
  &-next::before{
    content: '\e7ca';
  }
  // 喇叭
  &-notice::before{
    content: '\e67c';
  }
  // 心
  &-love::before{
    content: '\e604';
  }
  // 分享箭头
  &-share::before{
    content: '\e635';
  }
  // V
  &-vip::before{
    content: '\e622';
  }
  // 微信
  &-wechat::before{
    content: '\e65a';
  }
  // 微博
  &-weibo::before{
    content: '\e600';
  }
  // 朋友圈
  &-pengyouquan::before{
    content: '\e642';
  }
  // ×
  &-close::before{
    content: '\e620';
  }
  // 加号
  &-plus::before{
    content: '\e601';
  }
  // 减号
  &-sub::before{
    content: '\e607';
  }
  // 单选按钮
  &-radio::before{
    content: '\e606';
  }
  // 多选按钮
  &-checkbox::before{
    content: '\e603';
  }
  // 时钟
  &-clock::before{
    content: '\e602';
  }
  // 定位
  &-location::before{
    content: '\e605';
  }
  // 警告
  &-error::before{
    content: '\e611';
  }
  // 输入
  &-written::before{
    content: '\e679';
  }
}