@import 'reset';
@import 'iconfont';
// header
$header-height: 1.133333rem;
header{
  width: 100%;
  height: $header-height;
  color: #3d4245;
  background-color: #faf8f9;
  padding: 0 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    font-size: 36px;
    text-align: center;
  }
  .icon{
    font-size: 36px;
  }
}


// 确定按钮
.h-sure-button{
  display: block;
  width: 513px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  background-color: #009ff0;
  margin: 40px auto;
  border-radius: 10px;
}


// 弹出层
.h-modal-mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
  overflow: auto;
  .box{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 22px 100px;
    background-color: #fff;
    .title{
      height: 88px;
      line-height: 88px;
      text-align: center;
      font-size: 36px;
      color: #4d4d4d;
      .icon{
        float: left;
      }
    }
    input[type=password]{
      width: 100%;
      height: 100px;
      font-size: 36px;
      text-indent: 20px;
      border: 1px solid #b5b5b5;/*no*/
      border-radius: 10px;
    }
    .button{
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      > a{
        display: block;
        width: 316px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 34px;
        color: #a0a0a0;
        background-color: #fff;
        border: 1px solid #a0a0a0;/*no*/
        border-radius: 6px;
        &.ok{
          color: #fff;
          background-color: #009ff0;
          border-color: #009ff0;
        }
      }
    }
  }
}
// 弹出层动画
.fade-enter, .fade-leave-active{
  opacity: 0;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .4s ease;
}


// 加载动画
.loading{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;/*no*/
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  > div {
    width: 30px;/*no*/
    height: 30px;/*no*/
    background-color: #fff;
    border-radius: 50%;
    animation: scale 1.4s infinite ease-in-out;
    animation-fill-mode: both;
    &:nth-of-type(1){
      background-color: #ED5565;
      animation-delay: -0.32s;
    }
    &:nth-of-type(2){
      animation-delay: -0.16s;
    }
    &:nth-of-type(3){
      background-color: #2CA6E0;
    }
  }
}
@keyframes scale {
  0%, 80%, 100% { transform: scale(0.0) }
  40% { transform: scale(1.0) }
}