.h-about{
  padding: 18px 44px;
  > img{
    width: 100%;
  }
  .item{
    margin-bottom: 10px;
  }
  .title{
    margin: 20px 0 27px;
    h2{
      color: #3d4245;
      font-size: 30px;
      text-align: center;
    }
    em{
      display: block;
      width: 87px;
      height: 6px;
      background-color: #009ff0;
      margin: 22px auto 0;
    }
  }
  .body{
    font-size: 30px;
    color: #787e8a;
    line-height: 44px;
  }
}