%mt-bg{
  background-color: #fff;
  margin-bottom: 0.266667rem;
}
%padding-around{
    padding: 0 1.146667rem;
}

// banner
.h-banner{
  position: relative;
  width: 100%;
  height: 6.24rem;
  img{
    width: 100%;
    height: 100%;
  }
  .progress{
    position: absolute;
    right: 0.893333rem;
    bottom: 0.333333rem;
    width: 2.44rem;
    height: 2.44rem;
    background-color: #424242;
    border-radius: 50%;
    &-circle{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.906667rem;
      height: 1.906667rem;
      line-height: 1.906667rem;
      text-align: center;
      font-size: 32px;
      color: #fcc00f;
      border: 0.066667rem solid #fcc000;/*no*/
      border-radius: 50%;
      box-shadow: inset 0 0 0.2rem #fcc000, 0 0 0.2rem #fcc000;
      transform: translate3d(-50%, -50%, 0);
      &::before{
        position: absolute;
        top: 0;
        left: 50%;
        content: '';
        width: 0.226667rem;
        height: 0.226667rem;
        background-color: #fcc000;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0);
        box-shadow: 0 0 0.2rem #fcc000;
      }
    }
  }
}

// mian
.h-content{
  padding-bottom: 1.6rem;
  //
  .header{
    @extend %mt-bg;
    .tag{
      position: relative;
      width: 100%;
      height: 0.8rem;
      color: #fff;
      text-align: center;
      &::after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 8.213333rem;
        height: .08rem;
        background-color: #00b7ee;
        border-radius: 8px;
        transform: translateX(-50%);
      }
      span{
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 2.053333rem;
        height: 0.773333rem;
        line-height: 3;
        transform: translateX(-50%);
        &::after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: #00b7ee;
          z-index: -1;
          border-radius: 4px 4px 0 0;
          transform-origin: bottom;
          transform: perspective(.5em) rotateX(5deg);
        }
      }
    }
    .title{
      @extend %padding-around;
      h2{
        margin-top: 0.373333rem;
        font-size: 36px;
        color: #3d4245;
      }
      p{
        padding: 0.32rem 0;
        font-size: 30px;
        color: #7c7c7c;
      }
    }
    .info{
      border-top: 1px solid #eaeaea;/*no*/
      padding: 0 0.24rem;
      overflow: hidden;
      li{
        float: left;
        height: 142px;
        border-left: 1px solid #eaeaea;/*no*/
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
          // margin-top: 34px;
          font-size: 36px;
          color: #7c7c7c;
        }
        p{
          // margin-top: 24px;
          font-size: 24px;
          color: #939192;
        }
        &:first-child{
          border: none;/*no*/
        }
        &:nth-of-type(1),
        &:nth-of-type(3){
          width: 30%;
        }
        &:nth-of-type(2){
          width: 40%;
        }
      }
    }
  }

  //
  .invest-info{
    @extend %mt-bg;
    @extend %padding-around;
    font-size: 30px;
    overflow: hidden;
    > p{
      color: #7c7c7c;
      margin-top: 0.16rem;
      line-height: 0.573333rem;
    }
    > div{
      width: 50%;
      float: left;
      color: #a5a5a5;
      padding: 0.266667rem 0;
    }
  }

  //
  .invest-tag{
    @extend %mt-bg;
    @extend %padding-around;
    height: 1.626667rem;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    li{
      display: flex;
      align-items: center;
      span{
        display: inline-block;
        padding: 0.133333rem 0.2rem;
        border: 1px solid currentColor;/*no*/
        border-radius: 0.106667rem;
      }
      &.zhijia{
        color: #00b7ee;
      }
      &.zhangang{
        color: #5f52a0;
      }
      &.zhuanrang{
        color: #3e85ff;
      }
    }
  }

  //
  .investor{
    @extend %mt-bg;
    @extend %padding-around;
    height: 4.266667rem;
    h2.title{
      font-size: 30px;
      color: #7c7c7c;
      height: 1.333333rem;
      padding-top: 0.373333rem;
    }
    ul{
      display: flex;
      justify-content: space-between;
      li{
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
    .avatar{
      position: relative;
      width: 1.706667rem;
      height: 1.706667rem;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      em{
        position: absolute;
        right: 0.106667rem;
        width: 0.413333rem;
        height: 0.413333rem;
        line-height: 0.413333rem;
        text-align: center;
        color: #fff;
        font-size: 24px;
        background-color: #5f52a0;
        border-radius: 50%;
      }
    }
    &-type{
      display: inline-block;
      width: 1.333333rem;
      height: 0.466667rem;
      line-height: 0.466667rem;
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin: 0.346667rem auto;
      background-color: #88abda;
      border-radius: 0.106667rem;
      transform: skewx(-20deg);
      &.led{
        background-color: #13b5b1;
      }
    }
  }

  //
  .project{
    background-color: #fff;
    &-nav{
      height: 1.333333rem;
      overflow: hidden;
      li{
        float: left;
        width: 25%;
        text-align: center;
        line-height: 1.333333rem;
        font-size: 30px;
        color: #fff;
        background-color: #000;
        &.current{
          background-color: #13b5b1;
        }
      }
    }
    &-thumb{
      height: 5.293333rem;
      margin-bottom: 0.48rem;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-item{
      padding-bottom: 0.666667rem;
      padding-left: 0.373333rem;
      padding-right: 0.373333rem;
      .header{
        position: relative;
        margin-bottom: 0.853333rem;
        width: 2.453333rem;
        height: 0.84rem;
        border: 2px solid #474747;/*no*/
        > div{
          position: absolute;
          top: 0.133333rem;
          left: 0.133333rem;
          width: 100%;
          height: 100%;
          color: #5c5c5e;
          font-weight: bold;
          text-indent: 0.053333rem;
          background-color: #fff;
        }
        h2{
          font-size: 36px;
          font-weight: bold;
          white-space: nowrap;
        }
        p{
          white-space: nowrap;
        }
      }
      &-des{
        img{
          width: 100%;
        }
      }
    }
  }
}


// footer
.h-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.6rem;
  padding: 0.133333rem 0;
  color: #a5a5a5;
  background-color: #fff;
  border-top: 1px solid #ebe9e9;/*no*/
  ul{
    overflow: hidden;
    height: 100%;
    li{
      float: left;
      height: 100%;
      text-align: center;
      line-height: 1.6rem;
      font-size: 36px;
      &:first-child,
      &:last-child{
        width: 30%;
      }
      &:nth-of-type(2){
        width: 40%;
        border: 1px solid #eeeeee;/*no*/
        border-top: none;
        border-bottom: none;
      }
    }
  }

  #share{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: transform .4s ease;
    a{
      float: left;
      width: 25%;
      height: 100%;
      line-height: 1.6rem;
      text-align: center;
      font-size: 44px;
      background: none;
      padding: 0;
      margin: 0;
    }
  }
}
.translate-enter-active{
  transform: translateY(0%)
}
.translate-enter, .translate-leave-active{
  transform: translateY(100%)
}

.h-modal-mask .qrcode{
  width: 250px;/*no*/
  height: 250px;/*no*/
  border-radius: 10px;/*no*/
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;/*no*/
  margin-left: -125px;/*no*/
}