%pd-bgc {
  padding: 0 30px 0 24px;
  margin-bottom: 20px;
  background-color: #fff;
}
#my-zgb{
  padding-bottom: 106px;
}
.h-my-zgb-banner{
  height: 362px;
  color: #fefefe;
  background-image: linear-gradient(to bottom, #02c2ac, #00a0ee);
  .daily-revenue{
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2{
      font-size: 30px;
    }
    h1{
      font-size: 100px;
    }
  }
  .total{
    height: 114px;
    background-color: rgba(255, 255, 255, .1);
    overflow: hidden;
    .columns{
      float: left;
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      * {
        line-height: 40px;
      }
      p{
        font-size: 24px;
      }
      h2{
        font-size: 30px;
      }
    }
  }
}

//
.h-my-zgb-total-revenue{
  height: 103px;
  line-height: 103px;
  font-size: 30px;
  color: #4d4d4d;
  @extend %pd-bgc;
  span{
    color: #ff7b2d;
  }
}
//
.h-my-zgb-balance{
  @extend %pd-bgc;
  height: 149px;
  > a{
    display: flex;
    justify-content: space-between;
    height: 100%;
    > *{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    h2{
      font-size: 30px;
      color: #4d4d4d;
    }
    p{
      font-size: 26px;
      color: #ff7b2d;
    }
    span{
      color: #b4b4b4;
      font-size: 32px;
    }
  }
}
//
.h-my-zgb-detail{
  .title{
    @extend %pd-bgc;
    height: 105px;
    line-height: 105px;
    font-size: 30px;
    color: #4d4d4d;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .show-detail{
      display: block;
      width: 118px;
      height: 43px;
      line-height: 43px;
      text-align: center;
      font-size: 24px;
      color: #009ff0;
      border: 1px solid #009ff0;/*no*/
      border-radius: 5px;
    }
  }
  .list{
    dt, dd{
      font-size: 24px;
      overflow: hidden;
      > *{
        width: 25%;
        float: left;
        text-align: center;
      }
    }
    dt{
      height: 59px;
      line-height: 59px;
      background-color: #eaeaea;
      color: #4d4d4d;
    }
    dd{
      color: #898989;
      height: 100px;
      line-height: 100px;
      border-bottom: 1px solid #eaeaea;/*no*/
      background-color: #fff;
      &:last-child{
        text-align: center;
        height: 128px;
        line-height: 128px;
        font-size: 24px;
        color: #4d4d4d;
        * {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
// 脚部按钮
.h-my-zgb-button{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 106px;
  line-height: 106px;
  text-align: center;
  font-size: 32px;
  overflow: hidden;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .33);
  > a{
    width: 50%;
    height: 100%;
    float: left;
    &:first-child{
      color: #fff;
      background-color: #009ff0;
    }
    &:last-child{
      background-color: #fff;
      color: #009ff0;
    }
  }
}