// 公告列表
.h-notice-list{
  padding: 0 24px;
  li{
    position: relative;
    height: 85px;
    line-height: 85px;
    border-bottom: 1px solid #e5e5e5;/*no*/
    font-size: 30px;
    color: #787e8a;
    text-indent: 40px;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #c3c9d5;
      transform: translateY(-50%);
    }
    > a{
      display: block;
    }
    .date{
      float: right;
    }
  }
}

// 公告详情
.h-notice-desc{
  margin-top: 44px;
  padding: 0 44px;
  .title{
    margin-bottom: 40px;
    h1{
      text-align: center;
      color: #3d4245;
      font-size: 30px;
    }
    em{
      display: block;
      width: 87px;
      height: 10px;
      background-color: #009ff0;
      margin: 40px auto;
    }
  }
}