
// 服务协议
.h-agreement{
  width: 100%;
  padding: 40px;
  background-color: #fff;
  p{
    font-size: 32px;
    color: #000;
    line-height: 1.8;
    margin: 20px 0;
    text-indent: 60px;
  }
  h2{
    font-weight: bold;
    font-size: 42px;
    line-height: 2.4;
  }
  span{
    display: block;
    font-size: 24px;
    line-height: 1.6;
  }
}