$bdc: #e4e4e4;

select {
    border: solid 1px #000;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
    background: none;
}
select::-ms-expand { display: none; }





.l-acction-top{
  height: 400px; background: #009ff0; font-size: 24px;
  position: relative;color: #fff;
  .l-photo{ height: 290px;
    text-align: center;
    .l-photo-pic{
       width: 135px; height: 135px; border-radius:0.906667rem;border: 3px solid #4fbdf5;/*no*/ display: inline-block; overflow: hidden; margin-top: 0.4rem;
       img{
        width: 100%; height: 100%;
       }
    }
     dl{
      margin-top: 10px;
      dt{
        font-size: 22px; height: 30px; overflow: hidden; line-height:  30px;
      }
      dd{
        font-size: 30px;height: 0.533333rem; overflow: hidden; line-height: 0.533333rem;
      }
     }
  }
  .l-totle{ height: 1.493333rem; background:#008fd8; position: absolute; bottom: 0; width: 100%;
    li{
      float: left; width: 33.33%; display: inline; height: 100%;
      span{
        padding-left: 0.4rem;font-size: 30px; display: inline-block; height: 40px; line-height: 40px;
        &.l-totle-t{
           margin-top: 20px;
        }
      }
    }
  }


}
.l-bar-btns{
    height: 126px; border: 1px #e4e4e4 solid;  border-width: 1px 0; /*no*/ background:#fff; margin-top: 20px; display:flex;  align-items: center;
        justify-content: center;
    .l-btn{
      height: 76px; line-height: 76px; display: inline-block; text-align: center; border: 2px #ff7b2d solid;/*no*/ border-radius: 5px; margin:0 23px; font-size: 34px; color: #fff; background:#ff7b2d;  flex: 1;
      &:nth-of-type(1){
        background:#fff; color: #ff7b2d;
      }
    }
  }

.l-center-cat{
  background:#fff; border: 1px #e4e4e4 solid; border-width: 1px 0;/*no*/ margin-top: 20px; padding: 0 20px;
  li{
    height: 85px; line-height: 85px; border-top: 1px #ededed solid;/*no*/ position: relative;
    a{
      color: #4d4d4d; font-size: 26px; display: block;
    }
    &:nth-of-type(1){
      border: none;
    }
    .icon-back{ font-size: 30px; color: #b4b4b4; transform:rotate(-180deg); position: absolute; right: 0; top: 0;
    }
  }
  &.mt0{
    margin-top: 0;
  }
}
.l-tips{
  height: 60px; line-height: 60px; color: #ff7b2d; font-size:26px; padding:  0 28px; overflow: hidden;
}
a.quite-btn{display: block; height: 88px; line-height: 88px; text-align: center; color: #fff; background:#009ff0; font-size: 34px; margin: 40px 20px; color: #fff; border-radius: 8px; }

/*账户提现*/
.l-withdrawal{
  .l-bank-card{
     height: 280px; background:#009ff0; border-radius: 10px; margin: 36px 40px; color: #fff;
     position: relative; overflow: hidden;font-size: 34px;
     .l-bank-top{
       display: flex; align-items: center;
        justify-content: left; margin: 40px 60px 30px;
      .l-bank-log{
        width: 68px; height: 68px; background-size: 100% 100%; border: 3px #fff solid;/*no*/ display: inline-block; border-radius: 34px; background:#fff;
      }
      .l-bank-t{
        text-indent: 30px;
      }
     }

     .l-bank-code{
      margin: 30px 45px; display: flex; align-items:center;
      span{
         flex: 1; margin: 0 15px;  align-items:center;
        &.l-code-end{
          flex: 0  50%; text-align: right;
        }
      }
     }

     .l-bank-del{
      font-size: 24px; position: absolute; left: 60px; bottom: 30px;
     }
     .l-bank-yl{
      display: inline-block; width: 74px; height: 39px; background:url(../images/icon.png) 0 0 no-repeat; position: absolute; bottom: 30px; right: 60px; background-size: cover;
     }
  }

  .l-Amount{
    height: 126px; border: 1px $bdc solid; overflow: hidden;
    background:#fff;
    .l-Amount-item{
      padding: 0 20px; font-size: 24px; color: #a0a0a0; line-height: 1.6; margin-top: 20px;
      &:nth-of-type(2){
        font-size: 36px; color: #ff7b2d; margin-top: 0;
      }
    }
  }

  .l-Amount-info{
    border: 1px $bdc solid;/*no*/ background:#fff; margin-top: 20px;
    li{
      height: 86px; line-height: 86px; margin: 0 20px; border-top: 1px $bdc solid;/*no*/ display:flex;
      &:nth-of-type(1){border: none;}
      .l-info-t{
        flex: 20% 0; text-indent: 10px;
      }
      .l-info-v{
        border: none;
        flex: 0 80%; display: flex;
        .l-area{
          flex:1; text-align: right;
          select{
            width: 190px;direction: rtl;
            option{
              text-align: right;
              direction: ltr;
            }
          }
        }
        .l-bank-sub{
          display: flex; align-items: center; justify-content: flex-end; width: 100%;
          select{
            direction: rtl;
          }
        }
      }
    }
    &.mt0{margin-top: 0;}
  }

  .l-Amount-tips{
    color: #ff7b2d; margin: 0 20px 0; font-size: 20px; line-height: 1.6;
    dt{
      font-size: 24px; line-height: 30px;
    }
    dd{
      margin-top: 8px;
    }
  }

  .l-Amount-tel{
    text-align: center; color: #4e4e4e; font-size:24px; margin-top: 40px;
  }

  .l-Amount-link{
    color: #009ff0; font-size: 30px;
  }

   /*实名认证*/
   &.l-verified{
    .l-Amount-info{ margin-top: 0;}
   }

   /*登录密码&交易密码*/
   &.l-loginPwd{
    .l-Amount-link{
      margin-top: 46px; display: block; text-align: center;
    }
    .l-phone-tips{
      color: #4d4d4d; margin: 20px 20px 0; height: 50px; line-height: 50px;
    }
   }


}

/*安全中心*/
.l-safe{
  @at-root{
    .l-safe-list{
      background:#fff;
      li{
        height: 86px; line-height: 86px; color: #4d4d4d; font-size: 26px; padding: 0 20px;
        a{ display: flex; align-items: center; justify-content: space-between;  border-bottom: 1px $bdc solid;/*no*/}
        .item{
          &:nth-child(2){color: #a0a0a0;}
          &:nth-child(1){
            .icon{font-size: 40px; margin-right: 20px; color: #ea4242; vertical-align: middle;
              &.icon-radio{
                color: #62b904;
              }
            }
          }
        }
      }
    }
  }
}





/*遮罩层*/
.l-mark{
  position: absolute; height: 100%; width: 100%; z-index: 1000; background:rgba(0,0,0,.5); top: 0; left: 0;
}
.l-Amount-pop{
  position: fixed; width: 100%; height: 60%; background:#fff; z-index: 1001; bottom: 0; left: 0;
  .l-Amount-pop-t{
    display: flex; align-items:center; height: 86px; margin: 0 20px;border-bottom: 1px $bdc solid;/*no*/
    .icon{
      flex:1;
    }
    h2{
      flex:2; text-align: center;
    }
  }
  .l-Amount-pop-c{
    .l-Amount-item{
      display: flex; height: 102px; margin: 40px; justify-content: space-between;
      .l-Amount-pwd{
        width: 100%; border-radius: 10px; border: 1px $bdc solid;/*no*/ text-indent: 10px; font-size: 24px;
      }
      &:nth-of-type(2){
        input{
          width:46%; background:none; border: 2px $bdc solid;/*no*/ border-radius: 8px; font-size: 34px; color: #a0a0a0; height: 80px; line-height: 80px;
          &:nth-of-type(2){
            background:#009ff0; color: #fff; border-color: #009ff0;
          }
        }
      }
    }
  }
}